*{
  margin:  0;
}

body{
  font-weight: 600; 
}

/* add pattern */

header div{
  background-color: #4ea0ff;
  width: auto;
  background-image: url(../img/pattern.png);
  background-size: 450px;
  background-position: top;
}

/* end add pattern */


main{
  margin-top: 20px;
  margin-left: 25px;
}

/* article */

.color{
  color: gray;
  margin-bottom: 10px;
  padding: 0.2rem;
  font-size: 13px;
}

#text-color{
  color: #4ea0ff;
}

.size{
  font-size: 12px;
}

p{
  margin-top: 25px;
}

.underline{
  background-color: #EEEE6B;
}

/* end article */

/* section list */

ul{
  margin-left: -25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* end section list */



#logo{
  width: 200px;
  margin-top: 50px;
  margin-left: 25px;
}