*{
  margin-left:  0;
}


header div{
  background-color: #4ea0ff;
  width: auto;
  background-image: url(../img/pattern.png);
  background-size: 450px;
  background-position: top;
}

#logo{
  width: 200px;
  margin-top: 50px;
  margin-left: 10px;
}